@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 976px) {
  body {
    background-image: url("../static/designer.png");
    background-repeat: no-repeat;
    background-size: 721px;
    background-position: 118% 0%;
  }
}
@media only screen and (min-width: 1440px) {
  body {
    background-size: 1178px 991px;
    background-position: 120% 0%;
  }
}
@media only screen and (min-width: 1600px) {
  body {
    background-position: 109% 0%;
  }
}
@media only screen and (min-width: 2560px) {
  body {
    background-size: 1490px 1161px;
    background-position: 104% 0%;
  }
}

/*menu*/
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #505f98;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
